<header class="header">
  <h1>Taschenka</h1>
</header>
<article>
  <div *ngIf="!todos">
    <mat-card class="card center">
      <mat-card-header>
        <mat-card-title>Loading...</mat-card-title>
      </mat-card-header>
    </mat-card>
    <br>
  </div>
  <div *ngFor="let todo of todos">
    <mat-card class="card center">
      <mat-card-header>
        <mat-card-title>{{ todo.name }}</mat-card-title>
        <mat-card-subtitle>{{ todo.deadline | date }}</mat-card-subtitle>
        <mat-checkbox [(ngModel)]="todo.isDone"></mat-checkbox>
      </mat-card-header>
      <mat-card-content>
        {{ todo.description }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
    <br>
  </div>
</article>
<footer>
  <button mat-fab color="primary" class="fab" (click)="addTodo()">
    <mat-icon>note_add</mat-icon>
  </button>
</footer>