<h1 mat-dialog-title>Edit todo</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="todo.name">
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="todo.description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Deadline</mat-label>
    <input matInput [(ngModel)]="todo.deadline" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox matInput [(ngModel)]="todo.isDone">Done</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="todo" cdkFocusInitial>Edit</button>
</div>